extends layout.pug

block content 
    div(class="jumbotron") 
        p Add signup here. 

  
    form(action="." method="POST")
        label(for="name") Name:
        input(
            type="text"
            id="name"
            name="name"
        )

        label(for="email") Email:
        input(
            type="email"
            id="email"
            name="email"
        )

        label(for="password") Password:
        input(
            type="text"
            id="password"
            name="password"
        )

        input(type="submit" value="Submit")